#counter {
  position: relative;
  .counter_image {
    img {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
  }

  padding: 250px 0;
  .counter_wrapper {
    .row {
      div {
        border-right: 5px solid rgba(79, 88, 95, 0.2);
      }
      .div {
        border: none;
      }
    }
    h2 {
      color: $button_color;
      font-size: 64px;
      line-height: 68px;
      font-weight: 800;
      text-align: center;
    }
    h3 {
      color: #141135;
      font-size: 34px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
    }
  }
}
