.container {
  max-width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

$navbar_color: rgba(22, 12, 109, 0.5);
$button_color: #1bbf00;
$text_color: #eff4fa;

@mixin primary_button() {
  background-color: $button_color;
  border: 2px solid $button_color;
  border-radius: 100px;
  line-height: 200%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: $text_color;
  padding: 14px 28px;
  text-transform: capitalize;
}
@mixin secondary_button() {
  background-color: transparent;
  border: 2px solid $button_color;
  border-radius: 100px;
  line-height: 200%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: #1bbf00;
  padding: 14px 28px;
  text-transform: capitalize;
}
